*{
    box-sizing: border-box;
    color: white;
    background-color: rgb(15, 15, 15);
}

/* ESTILOS DEL NAV */ 
.mis-encabezados{
    color: #d5da1b;
    font-weight: 700;
    margin: 0;
    padding: 20px;
}

/* Barra de navegacion*/
.navegador{
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 72.5px;
}

header nav .lista-navegador{
    background-color: black;
    margin: 0px 150px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    height: 72.5px;
    font-size: 20px;
    font-weight: 500;
}

.menu-hamburguesa{
    display: none;
}

.item-hamburguesa{
    padding: 0px 10px;
    font-size: 15px;
}

.hamburguesa-active:active{
    background-color: #ebf066;
    color: black;
    display: block;

}

.maquinas-mq{
    list-style: none;
    background-color: black;
}

.lista-navegador li{
    background-color: black;
}

a{
    text-decoration: none;
    color: #d5da1b;
    background-color: black;
}

.dropdown-padre{
    background-color: rgb(10, 10, 10);
    height: 120px;
    border: 2px solid #ebf066;
}

.dropdown-hijas{
    background-color: rgb(10, 10, 10);
    display: block;
    text-align: justify;
    margin: 3px;
    padding: 3px;

}

.dropdown-hijas:hover{
    background-color: #ebf066;
    color: black;
}

/* ESTILOS DEL MAIN */
main{
    padding-bottom: 30px
}

/* Estilos del carrusel de index */
.imagen-del-carrusel{
    width: 400px;
    margin: 0 auto;
}

.mi-carrusel{
    border-top: 20px solid rgb(15, 15, 15);
}

.texto-carrusel{
    margin: 25px 0px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.h-carrusel{
    margin-bottom: 5px;
    font-size: 19px;
    font-weight: 650;
}

/* Estilos de las cards de maquinas */
.tarjetas{
    width: 18rem;
    border: solid 5px rgb(61, 61, 61);
}

.mi-catalogo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 30px;
    gap: 30px;
}

/* Estilos de contacto y sucursales */
.redes-sociales{
    padding: 10px 30px 30px;
}

.lista-contacto{
    list-style: none;
}

.lista-contacto li{
    margin: 10px 0px;
}

.mis-sucursales{
    padding: 10px 30px 30px;
    display: grid;
    gap: 20px;
}

.mapa{
    border: solid 5px rgb(61, 61, 61);
    width: 800px;
    height: 300px;
}

/* ESTILOS DEL FOOTER */
footer{
    display: grid;
    text-align: center;
    align-content: center;
    background-color: black;
    height: 130px;
}

.mi-footer{
    background-color: black;
    font-size: small;
}


/* MQ tablet */
@media screen and (max-width:1024px) {
    /* Estilos del header*/
    header nav ul .nav-de-desktop{
        display: none;
    }

    header nav .menu-hamburguesa{
        display: inline;
    }

    .dropdown-padre{
        height: 190px;
    }

    header nav .lista-navegador{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        margin: 0px 30px;
    }

    /* Estilos del main */
    .tarjetas{
        width: 20rem;
    }
    .mi-catalogo{
        grid-template-columns: repeat(2, 1fr);
    }

}

/* MQ mobile */
@media screen and (max-width:500px) {
    .mi-catalogo{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .mapa{
        width: 400px;
        height: 300px;
    }    
}