*{
    box-sizing: border-box;
    color: white;
    background-color: rgb(15, 15, 15);
}

/* ESTILOS DEL NAV */ 
.mis-encabezados{
    margin: 0;
    padding: 20px;
}

/* Barra de navegacion*/
.navegador{
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 72.5px;

}

header nav .lista-navegador{
    background-color: black;
    margin: 0px 150px;
    list-style: none;
    display: flex;
    column-gap: 8rem;
    align-items: center;
    height: 72.5px;
    font-size: 20px;
    font-weight: 500;
}

.lista-navegador li{
    background-color: black;
}

a{
    text-decoration: none;
    color: #d5da1b;
    background-color: black;
}

.dropdown-padre{
    background-color: rgb(10, 10, 10);
    height: 120px;
    border: 2px solid #ebf066;
}

.dropdown-hijas{
    background-color: rgb(10, 10, 10);
    display: block;
    text-align: justify;
    margin: 3px;
    padding: 3px;

}

.dropdown-hijas:hover{
    background-color: #ebf066;
    color: black;
}

/* ESTILOS DEL MAIN */

/* Estilos del carrusel de index*/
.imagen-del-carrusel{
    width: 300px;
    margin: 0 auto;
}

.mi-carrusel{
    border-top: 20px solid rgb(15, 15, 15);
}

.texto-carrusel{
    margin: 25px 0px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* Estilos de las cards de maquinas*/
.tarjetas{
    width: 18rem;
    display: inline-block;
}

.mi-catalogo{
    display: grid;
    padding: 30px;
    gap: 30px;
}
